<!DOCTYPE html>
<html data-theme="light">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Automeet</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.colors.min.css"
    />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/easymde/dist/easymde.min.css">
    <script src="https://cdn.jsdelivr.net/npm/easymde/dist/easymde.min.js"></script>
    <style>
      .editor-toolbar button{
        color: #373c44;
      }
      details.dropdown summary+ul {
        left: auto;
        right: 0;
      }
      article.message {
        background-color: #d93526;
        color: #fff;
      }
      article#loading {
        box-shadow: none;
      }
      article#loading::before {
        width: 6rem;
        height: 6rem;
        background-size: 6em auto;
      }
      .markdown-preview h1 {
        font-size: 1.25rem;
      }
      .markdown-preview h2 {
        font-size: 1.1rem;
      }
      .markdown-preview h3 {
        font-size: 1rem;
      }
    </style>
</head>

<body>
    <header class="container">

      <nav>
        <ul>
        <li>
          <a class="outline" style="border: 0" role="button" href="{{ url_for('main.index') }}">
              &#128337;
          </a>
        </li>
        {% if current_user.is_authenticated %}

        <li>
          <a class="outline" style="border: 0" role="button"  href="{{ url_for('main.meetings') }}">
            Meetings
        </a>
        </li>
        {% endif %}
        </ul>
        <ul>
        {% if not current_user.is_authenticated %}

        <li>
          <a class="outline" style="border: 0" role="button"  href="{{ url_for('auth.login') }}">
            Sign in
        </a>
        </li>
        <li>
          <a class="outline" style="border: 0" role="button"  href="{{ url_for('auth.signup') }}">
            Sign up
        </a>
        </li>

        {% else %}
        <details class="dropdown">
          <summary>
            <i class="fa fa-gear"></i>
          </summary>
          <ul>
        <li>
          <a class="outline" style="border: 0" role="button"  href="{{ url_for('main.profile') }}">
            Profile
          </a>
        </li>
        <li>
          <a class="outline" style="border: 0" role="button"  href="{{ url_for('auth.logout') }}">
            Sign out
        </a>
        </li>
        </ul>
        </details>
        {% endif %}
        </ul>
      </header>



      <main class="container">
        {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
          {% for category, message in messages %}
          <article class="{{ category }}">{{ message }}</article>
          {% endfor %}
        {% endif %}
        {% endwith %}
           {% block content %}
           {% endblock %}
      </main>
    </div>
    <script>
      const easyMDE = new EasyMDE({
          toolbar: ["bold", "italic", "heading-1", "heading-2", "heading-3", "|", "unordered-list", "ordered-list", "quote"],
      });
      document.addEventListener('DOMContentLoaded', function() {
        document.querySelectorAll('.tab').forEach(tab => tab.style.display = 'none');
        const hash = window.location.hash.replace('#', '');
        if (hash) {
            document.querySelector('[data-tab="' + hash + '"]').style.display = 'block';
            // set link to bold when hash is selected
            document.querySelectorAll('.tab-link').forEach(link => {
                if (link.getAttribute('href').replace('#', '') === hash) {
                    link.style.fontWeight = 'bold';
                } else {
                    link.style.fontWeight = 'normal';
                }
            });
        } else {
            document.querySelector('.tab').style.display = 'block';
            document.querySelector('.tab-link').style.fontWeight = 'bold';
        }

        // Update on change
        document.querySelectorAll('.tab-link').forEach(link => {
            link.addEventListener('click', function(e) {
                e.preventDefault();
                document.querySelectorAll('.tab').forEach(tab => tab.style.display = 'none');
                document.querySelector('[data-tab="' + this.getAttribute('href').replace('#', '') + '"]').style.display = 'block';
                window.location.hash = this.getAttribute('href').replace('#', '');
                document.querySelectorAll('.tab-link').forEach(link => {
                    if (link.getAttribute('href').replace('#', '') === hash) {
                        link.style.fontWeight = 'bold';
                    } else {
                        link.style.fontWeight = 'normal';
                    }
                });
            });
        });
        // Update on back/forward
        window.addEventListener('hashchange', function() {
            document.querySelectorAll('.tab').forEach(tab => tab.style.display = 'none');
            const hash = window.location.hash.replace('#', '');
            if (hash) {
                document.querySelector('[data-tab="' + hash + '"]').style.display = 'block';
            } else {
                document.querySelector('.tab').style.display = 'block';
                document.querySelector('.tab-link').style.fontWeight = 'bold';
            }
            document.querySelectorAll('.tab-link').forEach(link => {
                if (link.getAttribute('href').replace('#', '') === hash) {
                    link.style.fontWeight = 'bold';
                } else {
                    link.style.fontWeight = 'normal';
                }
            });
        });

      });
    </script>
</body>

</html>
