{% extends "base.html" %}

{% block content %}
{% if meeting.creator_id == current_user.id or not meeting.id %}
<script>
  function showLoading() {
      document.getElementById("content").style.display = "none";
      document.getElementById("loading").style.display = "block";
      document.getElementById("load-text").style.display = "block";
      return true;
  }
</script>
<article id="loading" aria-busy="true" style="display: none"></article>
<div id="load-text" style="text-align: center; display: none">
  <h3>Running Meeting...</h3>
  <p>This may take up to a few minutes. Please do not refresh the page.</p>
</div>
<div id="content">
  <h3 class="title">{{ "Update a Meeting" if meeting.id else "Create a Meeting" }}</h3>
  {% if meeting.id %}
  <nav style="">
    <ul>
      <li><a class="tab-link" href="#meeting">Meeting</a></li>
      <li><a class="tab-link" href="#meeting-info">Participants</a></li>
      <li><a class="tab-link" href="#meeting-complete">Run Meeting</a></li>
    </ul>
  </nav>
  {% endif %}
    <div class="tab" data-tab="meeting">
    <div class="box">
        <form method="POST" action="/meeting">
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="title" placeholder="Meeting Title" value="{{ meeting.title or ""}}">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <label class="label">Notes</label>
                    <textarea class="textarea" name="notes">{{ meeting.notes or "" }}</textarea>
                </div>
            </div>
            <input type="hidden" name="id" value={{ meeting.id or "" }}>
            <button class="button is-block is-info is-large is-fullwidth">{{ "Update Meeting" if meeting.id else "Create Meeting" }}</button>
        </form>
    </div>
    </div>

    {% if meeting.id %}
    <div class="tab" data-tab="meeting-info">
      <h4>Invited Users</h4>
      {% if meeting.invited_users %}
      <ul>
        {% for user in meeting.invited_users %}
        <li class="list-item">{{ user.email }}</li>
        {% endfor %}
      </ul>
      {% else %}
      <p>No meeting invites. Invite users below.</p>
      {% endif %}

      <h4>Invite Users</h4>
      <p style="font-size: 0.8rem">Invite users to the meeting by selecting their email address below.</p>
      <form method="POST" action="/meeting/invite">
        <div class="field">
          <div class="control">
            <div class="select is-multiple" style="width: 100%">
              <select name="users[]" multiple style="width: 100%">
                {% for user in users %}
                {% if user.id not in invited_user_ids %}
                <option value="{{ user.id }}">{{ user.email }}</option>
                {% endif %}
                {% endfor %}
              </select>
            </div>
          </div>
        </div>
        <input type="hidden" name="meeting_id" value={{ meeting.id or "" }}>
        <button class="button is-block is-info is-large is-fullwidth">Invite Users</button>
      </form>
    </div>
    {% endif %}

    {% if meeting.id %}
    <div class="tab" data-tab="meeting-complete">
      <h4>Meeting Priorities</h4>
        <ul>
          {% for meeting_priority in meeting_priorities %}
          <li class="list-item"><strong>{{ meeting_priority.user.email }}</strong><br>Priority: <strong>{{ meeting_priority.priority }}</strong><br><p>{{ meeting_priority.notes }}</p></li>
          {% endfor %}
        </ul>

      <div class="box">
        <form method="post" action="/meeting/complete">
          <input type="hidden" name="meeting_id" value={{ meeting.id }}>
          <button class="button is-block is-info is-large is-fullwidth pico-background-green-500" {{ "disabled" if not meeting_priorities }} onclick="return showLoading()"><i class="fa fa-magic"></i> Run Meeting</button>
        </form>
      </div>
    </div>
    {% endif %}

</div>
{% else %}
<div>
  <h1>{{ meeting.title }}</h1>
  <div style="margin-bottom: 4rem" class="markdown-preview">
    <p>{{ meeting.notes|markdown|safe }}</p>
  </div>
  <h4>Metadata</h4>
  <div class="box">
    <ul>
      <li>Creator: {{ meeting.creator.email }}</li>
    </ul>
  </div>
  <form method="POST" action="/meeting/priority">
    <input type="hidden" name="meeting_id" value={{ meeting.id }}>
    <div class="field">
      <div class="control">
        <label class="label">Your Notes</label>
        <p style="font-size: 0.8rem">These notes will be used during the meeting on your behalf</p>
        <textarea class="textarea" name="notes">{{ meeting_priority.notes if meeting_priority else "" }}</textarea>
      </div>
    </div>
    <div class="field">
      <div class="control">
        <label class="label">Priority</label>
        <div class="select">
          <select name="priority">
            <option value="LOW" {{ "selected" if meeting_priority and meeting_priority.priority == "LOW" }}>Low</option>
            <option value="MEDIUM" {{ "selected" if meeting_priority and meeting_priority.priority == "MEDIUM" }}>Medium</option>
              <option value="HIGH" {{ "selected" if meeting_priority and meeting_priority.priority == "HIGH" }}>High</option>
          </select>
        </div>
      </div>
    </div>
    <div class="field">
      <div class="control">
        <button class="button is-block is-info is-large is-fullwidth"><i class="fa fa-note"></i> {{ "Edit notes" if meeting_priority else "Add note" }}</button>
      </div>
    </div>
  </form>
  {% if meeting_priority %}
  <h3 class="title" style="margin-top: 4rem">Supporting Documents</h3>
  <div class="box">
      <ul>
        {% for file_name in file_names %}
          <li class="list-item"><i class="fa fa-file"></i> {{ file_name }}</li>
        {% endfor %}
      </ul>
  </div>
  <form method="POST" action="/meeting/priority/fileupload" enctype="multipart/form-data">
    <input type="hidden" name="meeting_id" value={{ meeting.id }}>
    <div class="field">
      <div class="control">
        <label class="label">Upload File</label>
        <input type="file" name="file">
      </div>
    </div>
    <div class="field">
      <div class="control">
        <button class="button is-block is-info is-large is-fullwidth">Upload File</button>
      </div>
    </div>
  </form>
  {% endif %}
</div>
{% endif %}
{% endblock %}
