{% extends "base.html" %}

{% block content %}
<div>
  <h3 class="title">Created meetings</h3>
    <div class="box">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="notification is-danger">
          {{ messages[0] }}
        </div>
        {% endif %}
        {% endwith %}
        <ul>
          {% for meeting in meetings %}
            <li>
              <a href="/meeting/{{ meeting.id }}">
                {{ meeting.title }}
              </a>
            </li>
          {% endfor %}
        </ul>
    </div>
  <h3 class="title">Invited Meetings</h3>
    <div class="box">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="notification is-danger">
          {{ messages[0] }}
        </div>
        {% endif %}
        {% endwith %}
        <ul>
          {% for meeting in invite_meetings %}
            <li>
              <a href="/meeting/{{ meeting.id }}">
                {{ meeting.title }}
              </a>
            </li>
          {% endfor %}
        </ul>
    </div>
</div>

{% endblock %}
