{% extends "base.html" %}

{% block content %}
<div>
  <h3 class="title">Created meetings</h3>
  <ul>
    {% for meeting in meetings %}
      <li>
        <a href="/meeting/{{ meeting.id }}">
          {{ meeting.title }}
        </a>
      </li>
    {% endfor %}
  </ul>
  <div>
    {% if not meetings %}
      <p>No meetings created yet.</p>
    {% endif %}
    <a role="button" href="/meeting">Create a new meeting</a>
  </div>
  <h3 class="title">Invited Meetings</h3>
  {% if not invite_meetings %}
    <p>Not invited to any meetings yet.</p>
  {% else %}
  <ul>
    {% for meeting in invite_meetings %}
      <li>
        <a href="/meeting/{{ meeting.id }}">
          {{ meeting.title }}
        </a>
      </li>
    {% endfor %}
  </ul>
  {% endif %}
</div>

{% endblock %}
